<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div class="container">
        <h4 class="alert-heading"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1 class="mb-3"><%= form.text_field :title, class: "form-control form-control-lg" %></h1>
          <div class="mb-3">
            <%= form.rich_text_area :content %>
          </div>
          <%= fields_for post.postscript do |postscript| %>
            <div class="mb-3">
              <%= postscript.text_area :content, class: "form-control" %>
            </div>
          <% end %>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
