<%
  if params[:query].present?
    page_title = "「#{params[:query]}」の記事一覧"
    page_description = "「#{params[:query]}」の記事一覧です。"
  else
    page_title = "記事一覧"
    page_description = "記事一覧です。"
  end

  set_meta_tags title: page_title, description: page_description
%>

<% if authenticated? %>
  <div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <%= link_to "記事を作成", new_post_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="mb-3"><%= page_title %></h1>
        <% @posts.each do |post| %>
        <div id="post-<%= post.id %>" class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <b><%= post.title %></b>
              <% if post.unpublished? %><span class="badge badge-dark">非公開</span><% end %>
            </h5>
            <h6 class="card-subtitle my-2 text-muted">Subtitle</h6>
            <p class="card-text"><%= truncate(post.content.to_plain_text) %></p>
            <%= link_to "Link", post_path(post), class: "card-link" %>
          </div>
        </div>
        <% end %>

        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="">こちらもどうぞ&nbsp;<small class="text-muted">最近の記事</small></h2>
      </div>
    </div>
    <div class="row">
      <%= render @recent_posts %>
    </div>
  </div>
</div>
