<% set_meta_tags title: @post.title, description: truncate(@post.content.to_plain_text) %>

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="mb-3"><%= @post.title %></h1>
        <%= @post.content %>
      </div>
    </div>
  </div>
</div>

<% if @post.postscript %>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="p-3 col-md-8">
          <div class="blockquote mb-0">
            <p>"<%= @post.postscript.content %>"</p>
            <div class="blockquote-footer">&nbsp;@takeyuweb</div>
          </div>
        </div>
        <div class="col-md-2 mx-auto p-3"><%= image_tag "takeyuweb.png", class: "img-fluid d-block rounded-circle" %></div>
      </div>
    </div>
  </div>
<% end %>

<div class="py-5" draggable="true" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="">こちらもどうぞ&nbsp;<small class="text-muted">関連記事</small></h2>
      </div>
    </div>
    <div class="row">
      <%= render @post.related.limit(3) %>
    </div>
  </div>
</div>

<% if authenticated? %>
  <div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-secondary" %>
        <%= link_to "削除", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>
</div>
<% end %>
