<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <%= display_meta_tags site: "実用Rails", description: "今日から使えるテクニックを紹介。Ruby on Railsを使いこなそう。", keywords: "Ruby on Rails", author: "Yuichi Takeuchi" %>

  <script src="https://kit.fontawesome.com/af9450b20a.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="" >
  <nav class="navbar navbar-expand-md navbar-dark bg-info">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="logo-normal">
          <!--?xml version="1.0" encoding="UTF-8"?-->
          <svg width="119px" height="34px" viewBox="0 0 119 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
            <title>logo_brand</title>
            <desc>Created with Sketch.</desc>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Organisms/Header" transform="translate(-269.000000, -140.000000)">
                <g id="logo_brand" transform="translate(269.000000, 140.000000)">
                  <g id="Group" transform="translate(39.000000, 10.000000)" fill="#FFFFFF">
                    <polygon id="Shape" points="0.175182482 1.9556962 0.175182482 0 7.43552311 0 7.43552311 1.9556962 4.92457421 1.9556962 4.92457421 14.8291139 2.66666667 14.8291139 2.66666667 1.9556962"></polygon>
                    <path d="M7.12408759,14.8481013 L7.12408759,14.8101266 L10.0827251,0 L12.4574209,0 L15.377129,14.8101266 L15.377129,14.8481013 L13.1386861,14.8481013 L12.6715328,12.0379747 L9.8296837,12.0379747 L9.36253041,14.8481013 L7.12408759,14.8481013 Z M10.1216545,10.1202532 L12.3406326,10.1202532 L11.2116788,3.41772152 L10.1216545,10.1202532 Z" id="Shape" fill-rule="nonzero"></path>
                    <polygon id="Shape" points="16.7007299 14.8481013 16.7007299 0 18.9586375 0 18.9586375 6.26582278 21.4890511 0 23.9805353 0 23.9805353 0.0949367089 20.8856448 7.13924051 24.350365 14.7341772 24.350365 14.8291139 21.8394161 14.8291139 18.9586375 8.22151899 18.9586375 14.8291139 16.7007299 14.8291139"></polygon>
                    <polygon id="Shape" points="25.5377129 14.8481013 25.5377129 0 31.8053528 0 31.8053528 1.9556962 27.8345499 1.9556962 27.8345499 6.28481013 31.2408759 6.28481013 31.2408759 8.20253165 27.8150852 8.20253165 27.8150852 12.8544304 31.8442822 12.8544304 31.8442822 14.8101266 25.5377129 14.8101266"></polygon>
                    <polygon id="Shape" points="32.9537713 0.0759493671 32.9537713 0 35.3090024 0 37.1192214 6.43670886 38.9294404 0 41.2652068 0 41.2652068 0.0759493671 38.2481752 9.37974684 38.2481752 14.8481013 35.9513382 14.8481013 35.9513382 9.37974684"></polygon>
                    <path d="M42.5304136,0 L44.7883212,0 L44.7883212,12.9113924 L47.863747,12.9113924 L47.863747,0 L50.1216545,0 L50.1216545,13.4810127 C50.1216545,14.3544304 49.6155718,14.8291139 48.7396594,14.8291139 L43.9124088,14.8291139 C43.0170316,14.8291139 42.5498783,14.335443 42.5498783,13.4810127 L42.5498783,0 L42.5304136,0 Z" id="Shape"></path>
                    <path d="M51.4647202,0 L53.7810219,0 L54.9683698,8.79113924 C54.9878345,9.13291139 54.9878345,9.51265823 55.0462287,10.1392405 C55.1046229,9.49367089 55.1046229,9.09493671 55.1240876,8.79113924 L56.4282238,0 L58.296837,0 L59.6009732,8.79113924 C59.6593674,9.17088608 59.6593674,9.51265823 59.6788321,10.1392405 C59.7372263,9.49367089 59.7372263,9.13291139 59.756691,8.79113924 L60.9245742,0 L63.2408759,0 L61.0218978,14.8481013 L58.783455,14.8481013 L57.4403893,6.43670886 C57.3625304,6.13291139 57.3819951,5.71518987 57.3625304,5.08860759 C57.3041363,5.73417722 57.3430657,6.15189873 57.2846715,6.43670886 L55.9416058,14.8481013 L53.7226277,14.8481013 L51.4647202,0 Z" id="Shape"></path>
                    <polygon id="Shape" points="64.5839416 14.8481013 64.5839416 0 70.8515815 0 70.8515815 1.9556962 66.8807786 1.9556962 66.8807786 6.28481013 70.3065693 6.28481013 70.3065693 8.20253165 66.8807786 8.20253165 66.8807786 12.8544304 70.9099757 12.8544304 70.9099757 14.8101266 64.5839416 14.8101266"></polygon>
                    <path d="M72.350365,14.8481013 L72.350365,0 L78.3844282,0 C79.2603406,0 79.7274939,0.493670886 79.7274939,1.34810127 L79.7274939,5.16455696 C79.7274939,5.86708861 79.5328467,6.20886076 78.9878345,6.49367089 L78.053528,7.06329114 L79.0656934,7.67088608 C79.6107056,8.01265823 79.8248175,8.35443038 79.8248175,9.03797468 L79.8248175,13.443038 C79.8248175,14.3164557 79.3187348,14.7911392 78.4428224,14.7911392 L72.3698297,14.7911392 L72.3698297,14.8481013 L72.350365,14.8481013 Z M74.6082725,6.20886076 L76.3600973,6.20886076 L77.4695864,5.44936709 L77.4695864,1.86075949 L74.6277372,1.86075949 L74.6277372,6.20886076 L74.6082725,6.20886076 Z M74.6082725,12.9683544 L77.5085158,12.9683544 L77.5085158,8.73417722 L76.379562,8.01265823 L74.5888078,8.01265823 L74.5888078,12.9683544 L74.6082725,12.9683544 Z" id="Shape" fill-rule="nonzero"></path>
                  </g>
                  <g id="Group">
                    <path d="M33.2124294,15.2420455 L18.7672316,0.714772727 C18.3062147,0.251136364 17.6723164,0 17.019209,0 C16.3661017,0 15.7514124,0.251136364 15.2711864,0.714772727 L12.5435028,3.45795455 L12.5435028,5.96931818 L16.519774,1.97045455 C16.6542373,1.85454545 16.8079096,1.77727273 17.019209,1.77727273 C17.2112994,1.77727273 17.3841808,1.85454545 17.5186441,1.97045455 L31.9638418,16.4977273 C32.0983051,16.6136364 32.1559322,16.7875 32.1559322,17 C32.1559322,17.1738636 32.079096,17.3670455 31.9638418,17.5022727 L23.5310734,25.9829545 L23.5310734,15.1261364 L26.0090395,15.1261364 L26.0090395,13.1556818 L19.7661017,13.1556818 L19.7661017,5.19659091 L17.8067797,5.19659091 L17.8067797,22.8534091 L19.7661017,22.8534091 L19.7661017,15.1068182 L21.5717514,15.1068182 L21.5717514,27.9340909 L21.5333333,27.9727273 L21.5333333,30.4840909 L33.2124294,18.7386364 C33.6734463,18.275 33.9231638,17.6375 33.9231638,16.9806818 C33.9231638,16.3238636 33.6734463,15.7056818 33.2124294,15.2420455 Z" id="Shape" fill="#FFFFFF"></path>
                    <path d="M17.5186441,31.9909091 C17.4033898,32.1068182 17.2305085,32.1840909 17.019209,32.1840909 C16.8271186,32.1840909 16.6542373,32.1068182 16.519774,31.9909091 L2.07457627,17.4636364 C1.95932203,17.3284091 1.88248588,17.1738636 1.88248588,16.9613636 C1.88248588,16.7875 1.95932203,16.5943182 2.07457627,16.4590909 L9.00903955,9.48522727 L9.00903955,22.8147727 L10.9491525,22.8147727 L10.9491525,15.0681818 L12.7548023,15.0681818 L12.7548023,27.6443182 L14.7141243,27.6443182 L14.7141243,15.0681818 L16.9039548,15.0681818 L16.9039548,13.0977273 L10.9491525,13.0977273 L10.9491525,7.51477273 L10.9491525,7.37954545 L10.9491525,5.02272727 L0.806779661,15.2227273 C0.345762712,15.6863636 0.0960451977,16.3238636 0.0960451977,16.9806818 C0.0960451977,17.6375 0.345762712,18.2556818 0.806779661,18.7386364 L15.2519774,33.2659091 C15.7129944,33.7295455 16.3468927,33.9806818 17,33.9806818 C17.6531073,33.9806818 18.2677966,33.7295455 18.7480226,33.2659091 L19.9389831,32.0681818 L19.9389831,29.5568182 L17.5186441,31.9909091 Z" id="Shape" fill="#FFFFFF"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      <% end %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "記事一覧", posts_path, class: "nav-link mx-2" %>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://github.com/takeyuwebinc/takeyuweb-blog"><i class="fab fa-github text-primary"></i> GitHub</a>
          </li>
        </ul>
        <%= form_with url: posts_path, class: "form-inline my-2 my-lg-0", method: :get, local: true do |f| %>
          <%= text_field_tag "query", params[:query], class: "form-control" %>
          <button class="btn btn-link my-2 my-sm-0" type="submit"><i class="fas d-inline fa-lg fa-search text-primary"></i></button>
        <% end %>
      </div>
    </div>
  </nav>

  <%= yield %>

  <div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-8">
          <h4 class="mb-3 text-white" contenteditable="true">Webサービス開発をサポート</h4>
          <div class="blockquote text-muted">
            <p class="mb-0" contenteditable="true">お客様の業務改善や新規事業に必要なWebサービスを、高い開発効率で人気のRuby on Railsに精通したエンジニアが高速に開発します。</p>
            <div class="blockquote-footer">お客様はサービスの肝となるアイデアやセキュリティ要件などをお伝えいただくだけで、具体的な仕様やシステム設計、デザイン、実装などすべてお任せいただけます。</div>
          </div>
          <a class="btn btn-info" href="https://takeyuweb.co.jp/service/outsourcing">コーポレートサイト</a>
        </div>
        <div class="col-md-4 align-self-center">
          <%= image_tag "undraw-programming.svg", class: "img-fluid d-block" %>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row mb-3">
        <div class="text-center mx-auto p-4 bg-secondary col-lg-6 col-md-10">
          <h2 class="text-white">Railsむずかしい</h2>
          <p class="text-light">Railsはフルスタックなフレームワークです。フルスタックであることは使いこなせれば大変便利な道具ですが、使いこなすために覚えることがたくさんあります。このブログではRailsを使いこなすためのtipsやお役立ち情報などを紹介していきます。<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-info p-4">
    <div class="container">
      <div class="row">
        <div class="p-0 col-lg-4 col-md-6">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=<%= Rails.application.credentials.dig(:gcp, :maps_static_api_key) %>&amp;markers=%E5%9F%BC%E7%8E%89%E7%9C%8C%E3%81%95%E3%81%84%E3%81%9F%E3%81%BE%E5%B8%82%E5%A4%A7%E5%AE%AE%E5%8C%BA%E5%AE%AE%E7%94%BA%E4%B8%80%E4%B8%81%E7%9B%AE5%E7%95%AA%E5%9C%B0%20%E9%8A%80%E5%BA%A7%E3%83%93%E3%83%AB7%E9%9A%8E&amp;center=%E5%9F%BC%E7%8E%89%E7%9C%8C%E3%81%95%E3%81%84%E3%81%9F%E3%81%BE%E5%B8%82%E5%A4%A7%E5%AE%AE%E5%8C%BA%E5%AE%AE%E7%94%BA%E4%B8%80%E4%B8%81%E7%9B%AE5%E7%95%AA%E5%9C%B0%20%E9%8A%80%E5%BA%A7%E3%83%93%E3%83%AB7%E9%9A%8E&amp;zoom=16&amp;size=640x450&amp;sensor=false&amp;scale=2">
        </div>
        <div class="col-md-5 align-self-center p-4 offset-md-1">
          <h4 contenteditable="true"> Takeyu Web Inc.</h4>
          <p class="mb-4 text-primary">Ginza Bld.7kai, 1-5chi, Miyacho, Saitama Shi Omiya Ku, Saitama Ken, 330-0802, Japan<br> <abbr title="Phone">P:</abbr>&nbsp;(048)700-3094 </p>
          <div class="row text-center">
            <div class="col-3 col-md-3">
              <a href="https://takeyuweb.co.jp" target="_blank"><i class="fas fa-globe-asia text-primary fa-2x"></i></i></a>
            </div>
            <div class="col-3 col-md-3">
              <a href="https://www.facebook.com/takeyuweb" target="_blank"><i class="fab fa-facebook text-primary fa-2x"></i></a>
            </div>
            <div class="col-3 col-md-3">
              <a href="https://twitter.com/takeyuwebinc" target="_blank"><i class="fab fa-twitter text-primary fa-2x"></i></a>
            </div>
            <div class="col-3 col-md-3">
              <a href="https://github.com/takeyuwebinc" target="_blank"><i class="fab fa-github text-primary fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-12">
          <p class="text-secondary mb-0">Copyright 2019 <a href="https://takeyuweb.co.jp/">Takeyu Web Inc.</a> All rights reserved.</p>
        </div>
        <div class="col-lg-4 col-md-12">
          <p class="text-secondary mb-0"><a href="https://rubyonrails.org/">Ruby on Rails</a> <%= Rails.version %></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>